body
{
    background-color: #888888;
    height: 100%;
}

.image
{
    width: 70%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.containerIndex
{
    margin: 15px;
    background-color: #888888;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container
{
    margin: 15px;
    background-color: #888888;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.navbar
{
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #dcdcdc;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.btQuiz
{
    background-color: #58c7ff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 10px #1a1a1a;
    color: black;
    float: right;
    margin-right: 15px;
    text-shadow: #dcdcdc 2px 1px 2px;
}

.btQuiz img
{
    vertical-align: middle;
    margin-left: 10px;
}

.btQuiz:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

.box1
{
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #930101;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 30px;
    text-shadow: #dcdcdc 2px 2px 4px;
}

.box2
{
    width: 30%;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    background-color: #58c7ff;
    padding: 15px;
    margin: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #1a1a1a;
    text-shadow: #000000 2px 2px 4px;
}


.btScopri
{
    background-color: #58c7ff;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 10px #1a1a1a;
    color: black;
    text-shadow: #cccccc 1px 1px 2px;
}
.btScopri:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

.nascosto
{
    display: none;
}

#boxNascosto
{
    width: 76%;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    border-style: solid;
    background-color: #58c7ff;
    padding: 15px;
    margin: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px #1a1a1a;
    text-shadow: #f5f5f5 1px 1px 3px;
}

.back{
    margin: 15px;
    position: relative;
    width: auto;
    height: auto;
    background-color: #930101;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: #dcdcdc 2px 1px 2px;
}

.back:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

footer
{
    background-color: #484848;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-shadow: #dcdcdc 2px 1px 2px;
}

/* Quiz */
/* Colori per le risposte */
.risposta-giusta
{
    background-color: #28a745 !important;
    color: white;
}

.risposta-sbagliata
{
    background-color: #dc3545 !important;
    color: white;
    text-shadow: #dcdcdc 2px 1px 2px;

}

/* Box spiegazione */
#box-spiegazione
{
    background-color: #e3f2fd;
    border: 2px solid #58c7ff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    text-shadow: #dcdcdc 2px 1px 2px;
}

#testo-spiegazione
{
    margin-bottom: 10px;
}

.option-container
{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    background: #eee;
    transition: 0.3s;
    box-shadow: inset 0 0 5px #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: #2d2d2d 2px 1px 2px;

}

.option-container:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

.quizQuestion
{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    width: 45%;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    border-style: solid;
    background-color: #58c7ff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
    text-shadow: #dcdcdc 2px 1px 2px;
}

.quizQuestion p
{
    font-size: 20px;
}
